/* PETUNJUK PENGGUNAAN CSS INI ================================================================
***** m = margin
***** p = padding
***** t = top
***** b = bottom
***** l = left
***** r = right
***** tb = both top and bottom
***** lr = both left and right
***** min = minus
***** angka menunjukan nilai
=========================================================================== by nicholas kotama*/

.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-25{
	margin-top: 25px;
}

.m-t-min-20{
	margin-top: -20px;
}

.m-b-20{
	margin-bottom: 20px;
}

.m-tb-10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.m-lr-10{
	margin-left: 10px;
	margin-right: 10px;
}


.p-l-0{
	padding-left: 0 !important;
}

.p-tb-9{
	padding: 9px 0 !important;
}

.p-tb-5{
	padding: 5px 0 !important;
}

.borderless td, .borderless th {
    border: none;
}

.heading-tabel{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #17bab8;
	color: #ffffff;
}

.barang-cancel{
	background-color: #ccc;
}

.modal-lg{
	width:90%;
	margin:2% auto;
}
ul.ui-autocomplete {
    z-index: 1100;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #17bab8;
    border: none;
    color:#fff;
    border-radius:0;
    font-weight: normal;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #17BAB8 inset;
    -moz-box-shadow: 0 0 0 100px #17BAB8 inset;
    box-shadow: 0 0 0 100px #17BAB8 inset;
}